:root{
    --berry: #ec96a4;
    --branch: #5d535e;
    --yellowFeathers: #DFE166;
    --lavanderGray: #9a9eab;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: font-family: 'Hind Madurai', sans-serif;
}


